@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	height: 1080px;
	width: 1920px;
}

body {
	height: 1080px;
	width: 1920px;
	margin: 0px;
	overflow: hidden;
	font-family: 'Montserrat';
	background-color: rgba(0, 0, 0, 0);
}

.sitebox {
	margin-top: 33%;
}

.ltimg {
	position: relative;
}

#retrigger {
	position: absolute;
	left: -100%;
}

.text1 {
	position: absolute; 
  	top: 60px;
	left: 35px;
	font-size: 5em
}
.text2 {
	position: absolute; 
  	top: 140px;
	left: 250px;
	font-size: 3em
}